.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  padding: .5rem;
  border-radius: 5px;
  background-color: var(--terciario); }
  .card:hover{
    box-shadow: 2px 2px 2px rgb(53, 113, 233);
  }
  .card .card-title {
    font-weight: bolder; }
  .card .card-img {
    width: 80%;
    height: 100%;
    padding: .5rem; }
  .card .card-price {
    font-weight: bold; }