.products-container {
  width: 50%;
  height: 50%;
  height: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  row-gap: 1rem;
  column-gap: 0rem;
  justify-items: center;
  justify-content: center;
  margin-top: 30px;
}