.card-group{
    margin-top: 2%;
    margin-bottom: 2%;
    
  }

.button-cart{
    border-radius: 100px;
    background-color: rgb(180, 180, 180) !important;
}

.container{
    margin: 3rem 0rem 3rem 0rem;
}