.container-cards-all{
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    width: 100%;
}

.button-cart{
    border-radius: 100px;
    background-color: rgb(180, 180, 180) !important;
}

.container{
    
    margin: 3rem 0rem 3rem 0rem;
}