.container-create-group{
    box-shadow: 5px 5px 30px rgb(224, 223, 223);
    border: 2px solid rgb(227, 227, 227);
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 26.8rem;
    border-radius: 1rem;
}

.signo{
    display: flex;
    align-items: baseline;
    width: 100%;
}
.signo #typeNumber{
    margin-left: 1rem;
    width: 100%;
}