$backgroundColor: #e5eef3;
$buttonColor: #ffffff;
$textColor: #000000;
$hoverColor: #fff;
$facebook: #3B5998;
$twitter: #61c5ec;
$google: #ea4335;
$github: #000000;

body{
    background-color: #f8f8f8 !important;
}

.share {
  position: fixed;
  width: 200px;
  left: 70%;
  top: 100%;
  margin-top: -100px;
  border-radius: 80px;
  text-align: center;
  z-index: 2;


  i{
    font-size: 28px;
    
  }

  span {
    font-family: 'Roboto';
    width: 200px;
    line-height: 80px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }

  nav {
    font-size: 0;
  }


  a {
    line-height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background-color: $buttonColor;
    color: $buttonColor;
    overflow: hidden;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: 0 -20px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);

    &:nth-child(1) {
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      margin-left: 0;

      &:hover {
        background-color: $twitter;
      }
    }

    &:nth-child(2):hover {
      background-color: $facebook;
    }

    &:nth-child(3):hover {
      background-color: $google;
    }

    &:nth-child(4){
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      margin-right: 0;

      &:hover {
        background-color: $github;
      }
    }
  }

  &:hover, &.hover {
    span {
      opacity: 0;
    }

    a {
      border-radius: 50%;
      margin: 0 10px;
      color: $textColor;
      font-size: 28px;

      &:hover {
        color: $hoverColor;
      }
    }
  }
}

  .Formulario{
.container-form-group{
  box-shadow: 5px 5px 30px rgb(224, 223, 223);
  border: 2px solid rgb(227, 227, 227);
  justify-content: center;
  margin: 6rem 10rem 5rem 10rem;
  border-radius: 1rem;
}

.container-imagen img{
  box-shadow: 5px 5px 30px rgb(224, 223, 223);
  margin: 5rem 1rem 5rem 9rem;
  width: 70%;
}
}



